#calendar {
  width: 350px;
  height: 240px;
  border: 1px solid black;
}
#calendar > table {
  border-spacing: 0;
}

#calendar .calendarTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 16px;
}
#calendar .calendarTitle div {
  font-size: 16px;
}

#calendar > .calendarTitle > div.iconLeft,
#calendar > .calendarTitle > div.iconRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 16px;
  background-color: white;
}
#calendar div:first-child > div.iconLeft:hover,
#calendar div:first-child > div.iconRight:hover {
  background-color: #e6e6e6;
}

#calendar > table > tbody > tr > td {
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 36px;
  padding: 0;
  text-align: "center";
  font-size:  16px;
}

#calendar > table > tbody > tr > td:hover {
  background-color: #e6e6e6;
}
